{% set scheduled_refresh = get_scheduled_refresh() %}

cubes:
  - name: line_items
    sql_table: ECOM.LINE_ITEMS
    public: false

    joins:
      - name: products
        sql: "{CUBE}.PRODUCT_ID = {products}.ID"
        relationship: many_to_one

      - name: orders
        sql: "{CUBE}.ORDER_ID = {orders}.ID"
        relationship: many_to_one

    dimensions:
      - name: id
        sql: ID
        type: number
        primary_key: true

      - name: created_at
        sql: CREATED_AT
        type: time

    measures:
      - name: count
        type: count

      - name: total_amount
        sql: PRICE
        type: sum
        
    pre_aggregations:
      - name: line_items_summary
        scheduled_refresh: {{ scheduled_refresh }}
        measures:
          - count
          - total_amount
        time_dimension: created_at
        granularity: day
        dimensions:
          - products.product_category
