{# Is the current team trusted? #}
{% set trusted_teams = ['cx', 'exec' ] %}
{% set is_trusted_team = COMPILE_CONTEXT.securityContext.team in trusted_teams %}

{# Convenient function to mask values if the current team is not trusted #}
{% macro masked(sql, is_visible) -%}
{{ sql if is_visible else "\"'--- masked ---'\"" }}
{%- endmacro %} 

cubes:
  - name: users
    sql_table: ECOM.USERS
    public: false

    dimensions:
      - name: id
        sql: ID
        type: number
        primary_key: true

      - name: state
        sql: STATE
        type: string

      - name: city
        sql: CITY
        type: string

      - name: gender
        sql: GENDER
        type: string

      - name: last_name
        sql: {{ masked('LAST_NAME', is_trusted_team) }}
        type: string

      - name: first_name
        sql: {{ masked('FIRST_NAME', is_trusted_team) }}
        type: string

      - name: created_at
        sql: CREATED_AT
        type: time

    measures:
      - name: count
        type: count
